body {
    margin: 0;
    background-image: url("http://127.0.0.1:5500/src/assets/background.jpg");
    color: white;
}

.game-container {
    margin: 50px 250px;
}

.game-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.git-avatar {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    text-align: end;
    align-content: space-between;
}

.game-menu {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
}

.map-option {
    flex: 1;
    padding: 10px 30px;
    border-radius: 0px;
    background-color: #141414c5;
    border-style: none;
    cursor: pointer;
    color: white;
    text-align: center;
    font-family:sans-serif;
}

.map-option-disabled {
    flex: 1;
    padding: 10px 30px;
    border-radius: 0px;
    background-color: #141414c5;
    border-style: none;
    cursor: not-allowed;
    color: rgba(158, 158, 158, 0.775);
    text-align: center;
    font-family:sans-serif;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
}

.title {
    font-size: 2rem;
}


.selected {
    border-top: 6px solid #296bb0;
}

.roboto-font {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 75;
  }
  
  a {
    text-decoration: none;
    color: white;
  }